exportPattern("^[[:alpha:]]+")
import(spgwr)
import(dplyr)
import(raster)
import(sf)
import(igraph)
import(spdep)
import(rgdal)
import(reshape2)
import(geosphere)
import(tmap)
import(ggplot2)
import(caret)
